GITHUB_USERNAME=nvkelso
GITHUB_REPONAME=election-geodata
GITHUB_TOKEN=<get one from https://github.com/settings/tokens>

S3_BUCKET=nvkelso-election-geodata
AWS_ACCESS_KEY_ID=<ask Migurski>
AWS_SECRET_ACCESS_KEY=<ask Migurski>
